<!DOCTYPE html>
<html>
<head>
<title>Home</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<style>
body{
    background:#ffd6e0;
    text-align:center;
    font-family:Arial;
}
h1{
    margin-top:120px;
    font-size:28px;
}
.by{
    margin-top:10px;
    color:#ff2f6d;
    font-weight:bold;
}
a{
    display:inline-block;
    margin-top:30px;
    padding:15px 40px;
    background:#ff2f6d;
    color:white;
    text-decoration:none;
    border-radius:30px;
    font-size:18px;
}
</style>
</head>
<body>

<h1>❤️ A Beautiful Surprise ❤️</h1>
<div class="by">By Selmon 💖</div>

<a href="/welcome">Start 💕</a>

</body>
</html>
